@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: url('img/Background.png') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
}

.container {
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 450px;
}

.container p {
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}

.container span {
    font-size: 12px;
    margin-top: 5%;
    margin-bottom: 12%;
    width: 110%;
}

.container a {
    color: #2A9BDB;
    font-size: 11px;
    text-decoration: underline;
    margin: 0 10px;
    margin-left: auto;
    text-align: right;
    margin-bottom: 5%;
    max-width: fit-content;
}

.register span {
    margin-left: -10%;
}

.container button {
    background-color: #2A9BDB;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
    width: 100%;
}

.container button.hidden {
    background-color: transparent;
    border-color: #fff;
}

.container form {
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
    margin-top: 5%;
}

.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}

.log-in {
    left: 0;
    width: 50%;
    z-index: 2;
    margin-top: -2%;
}

h1 {
    font-size: 20px;
    margin-left: 0px;
}

.container.active .log-in {
    transform: translateX(100%);
}

/* .register {
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
    text-align: right;
    justify-content: right;
    margin-top: -5%;
} */

.container.active .register {
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

/* .input-register {
    height: 200px;
    overflow-y: scroll;
    padding-right: 0px;
}

.input-register::-webkit-scrollbar {
    width: 0;
    background: transparent;
} */

@keyframes move {
    0%, 49.99% {
        opacity: 0;
        z-index: 1;
    }
    50%, 100% {
        opacity: 1;
        z-index: 5;
    }
}

.toggle-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: all 0.6s ease-in-out;
    border-radius: 50px 0 0 50px;
    z-index: 1000;
}

.container.active .toggle-container {
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}
.new-toggle{
    display: none;
}

.toggle {
    background-color:#2A9BDB;
    height: 100%;
    color: #fff;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.container.active .toggle {
    transform: translateX(50%);
}

.toggle-panel {
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;
}

.toggle-left {
    transform: translateX(-200%);
}

.container.active .toggle-left {
    transform: translateX(0);
}

.toggle-right {
    right: 0;
    transform: translateX(0);
    text-align: right;
    justify-content: center;
}

.toggle-right h1 {
    text-align: right;
    margin-left: -10%;
}

.container.active .toggle-right {
    transform: translateX(200%);
}

.popup {
    max-width: 400px;
    width: 80%;
    background: #2A9BDB;
    border-radius: 6px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    text-align: center;
    padding: 15px;
    color: white;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
    z-index: 1010;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.popup p {
    font-size: 15px;
    font-weight: 600;
    margin: 20px 0;
}

.popup button {
    width: 50%;
    margin-top: 20px;
    padding: 10px 0;
    background: white;
    color: #2A9BDB;
    border: 0;
    outline: none;
    font-size: 15px;
    font-weight: 600;
    border-radius: 10px;
    cursor: pointer;
}

.open-popup {
    visibility: visible;
    border-radius: 20px;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    z-index: 1000;
}
.popup-overlay.active {
    visibility: visible;
}

.error-message {
    display: none; /* Mulai dengan menyembunyikan pesan validasi */
    color: red;
    font-size: 12px;
    padding-top: 2px; /* Mengurangi jarak antara pesan dan input */
}

.container input,textarea, select {
    position: relative;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 12px;
    border-radius: 8px;
    width: 100%;
    outline: none;
    box-sizing: border-box;
    border: 1px solid #000000;
    background-color: #ffffff;
    margin-bottom: 6%;
}

.input-group {
    position: relative;
    width: 100%;
}

.input-group i{
    background-color: #fff;
    position: absolute;
    right: 10px;
    padding-left: 5px;
    top: 25%;
    font-size: 20px;
}

.container .placeholder {
    top: 0px;
    color: #000000;
    background-color: white;
    position: absolute;
    left: 15px;
    font-size: 12px;
    padding: 0px 5px;
    color: #666;
    transition: 0.3s;
    pointer-events: none;
}

@media (max-width: 675px) {
    .log-in {
        width: 100%;
    }
    .toggle-container {
        display: none;
    }
    .new-toggle{
        width: 100%;
        background-color: #2A9BDB;
        border-radius: 0 0 50% 50%;
        top: 0%;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
        padding: 40px;
    }
    .new-toggle h1{
        font-size: 15px;
        color: #fff;
    }
    .form-container{
        top: 8%;
    }
    .container {
        width: 85%; /* Mengubah lebar menjadi 100% */
        padding: 0 0 20px 0; /* Menghilangkan padding di sisi kiri, kanan, dan atas, tetap mempertahankan padding bawah 20px */
        box-shadow: none;
        border-radius: 20px;
        box-shadow: 0 5px 25px rgba(0, 0, 0, 0.35);
        margin: 20px;
    }
    .container span {
        margin-top: 20px;
        margin-bottom: 10%;
    }
    .container h1 {
        bottom: -10%;
        font-size: 18px;
        margin-bottom: 0px;
    }
    .container p {
        font-size: 14px;
        margin-bottom: 20px;
    }
    .container input, .container button {
        font-size: 14px;
        padding: 10px;
        margin-bottom: 20px;
    }
    .container button {
        margin-top: 20px;
    }
    .container a {
        font-size: 12px;
        margin-top: 10px;
    }
    .input-group i {
        font-size: 16px;
        top: 40%;
        transform: translateY(-50%);
    }
}
